/* Search Section */
.searchContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.searchInputWrapper {
  width: 100%;
  background-color: var(--light-gray);
}

/* .inputWrapper svg {
  position: absolute;
  left: 1rem;
  color: #9ca3af;
} */

/* .queryInput {
  padding-left: 1rem;
  color: var(--dark-gray);
  font-size: 1rem;
  font-style: italic;
  transition: var(--boxShadowTransition);
}

.inputWrapper:focus-within {
    box-shadow: 0 0 0 2px var(--tertiary);
} */

.searchFilters {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.categoryWrapper {
    flex: 1;
}

.searchCategory {
  color: var(--dark-gray);
  font-size: 0.875rem;
}

.results {
  margin-top: 1rem;
}

.termsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  padding: 1rem 0;
  gap: 1rem;
}

.termItem {
  list-style: none;
}

.status {
  text-align: center;
  color: #6b7280;
  margin-top: 3rem;
}

.error {
  text-align: center;
  color: var(--error);
  margin-top: 3rem;
}

/* Tablets */
@media (min-width: 640px) {
  .container {
    padding: 0 24px;
    max-width: 640px;
  }
}

/* Laptops pequeñas */
@media (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    padding: 0 40px;
    max-width: 1024px;
  }
}

/* Desktop grande */
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
    padding: 0 48px;
  }
}