.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--background);
  border-bottom: 1px solid var(--light-gray);
  position: relative;
  z-index: 100;
}

.brand {
  font-family: 'Garamond', serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--foreground);
  text-decoration: none;
}

.linkItem, .logoutBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--dark-gray);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.5rem;
}

/* .linkItem:hover, .logoutBtn:hover {
  color: var(--secondary);
} */

.userMenu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* .logoutBtn:hover {
  color: #b91c1c;
} */

.hamburger {
  display: none;
  background: none;
  border: none;
  color: var(--foreground);
  cursor: pointer;
  padding: 0.5rem;
}

.authActions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.registerBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--primary-soft);
  color: var(--foreground);
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  border-radius: 50px;
  transition: color 0.2s ease;
  cursor: pointer;
  font-size: 0.875rem;
}

.loginBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--dark-gray);
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  border-radius: 50px;
  border: 1px solid var(--primary-soft);
  transition: color 0.2s ease;
  cursor: pointer;
  font-size: 0.875rem;
}

@media (min-width: 769px) {
  .links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid var(--light-gray);
    padding: 1.5rem;
    gap: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05);
  }

  .linksOpen {
    display: flex; 
  }

  .linkItem, .logoutBtn {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
  }

  .linkItem:hover {
    background-color: var(--tertiary-soft);
  }
  
  .logoutBtn:hover {
    background-color: #fef2f2;
  }
}